h1 { 
  font-family: 'Teko', sans-serif;
  font-size: 40px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: white;
}

h2 {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 70px;
  color: white;
}
.hero {
  text-align: center;
  padding-top:100px;
}
.logo {
  float:left;
  margin-right: 15px;
  margin-top: 6px;
}

body {
  /* Location of the image */
  background-image: url("../images/flare.jpeg");
  
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#464646;
  
  /* SHORTHAND CSS NOTATION
   * background: url(background-photo.jpg) center center cover no-repeat fixed;
   */
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
  body {
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
    background-image: url("../images/flare.jpeg");
  }
}

.container {
  margin-left: 50px;
  margin-right: 50px;
}